
.chat-window {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    padding: 12px 15px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.chat-messages {
    flex: 1;
    padding: 15px;
    /* background-color: #f9f9f9; */
    overflow-y: auto;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    line-height: 1.5;
    max-width: auto; /* Reduced from 80% for avatars */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    font-size: 12px;
}

.bot-message {
    background-color: #fff;
    align-self: flex-start;
    color: #555;
}

.user-message {
    /* background: linear-gradient(45deg, #6a11cb, #2575fc); */
    background-color: rgb(162, 197, 121);
    color: white;
    align-self: flex-end;
}

.chat-input {
    display: flex;
    padding: 10px 15px;
    align-items: center;
    background-color: #fff;
}

.chat-input input {
    flex: 1;
    padding: 10px 12px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
}

.chat-input input:focus {
    box-shadow: 0 2px 12px rgba(0, 50, 255, 0.25);
}

.chat-input button {
    padding: 10px 15px;
    /* background: linear-gradient(45deg, #6a11cb, #2575fc); */
    background-color: rgb(162, 197, 121);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.chat-input button:hover {
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0 3px 15px rgba(0, 50, 255, 0.3);
}

.message-container {
    display: flex;
    align-items: flex-end;
    margin: 8px 0;
}

.bot-message-container {
    flex-direction: row;
}

.user-message-container {
    flex-direction: row-reverse;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
}


#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }



/* Width and height of the scrollbar thumb */
/* ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
} */

/* Track (the area where the thumb moves) */
/* ::-webkit-scrollbar-track {
    background: #FFCF9D;
} */

/* Scrollbar thumb (the draggable part) */
/* ::-webkit-scrollbar-thumb {
    background: #FFB000;
} */

/* On hover, the thumb color */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */