.menuTab {
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 4px;
}

.menuTabIcon {
    margin: 7px;
    width: 40px;
    height: 40px;
}


.conactsmenucard {
    width: 140px;
    height: auto;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.image-item {
    flex: 1;
}

.image-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media screen and (max-width: 400px) {
    .conactsmenucard {
        width: 100px;
    }
}

@media screen and (max-width: 325px) {
    .menuTabIcon {
        width: 30px;
        height: 30px;
    }

    .menuTab {
        width: 45px;
        height: 45px;
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.FontFamliy {
    font-family: 'KareliaWeb Regular' !important;
}

/* Styles the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Styles the scrollbar thumb (the draggable element) */
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

/* Styles the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Styles the main scrollbar (width for vertical scrollbar, height for horizontal scrollbar) */
::-webkit-scrollbar {
    width: 10px;
}

.callButton {
    background: rgba(255, 255, 255, 0.45);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.backButton {
    margin-left: 10px;
    background: rgba(239, 86, 86, 0.25);
    /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}



.loader123 {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: rgb(255, 145, 48);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotations 1s linear infinite;
}


@keyframes rotations {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Docloader {
    width: 48px;
    height: 48px;
    border: 5px solid rgb(255, 145, 48);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotationss 1s linear infinite;
}

@keyframes rotationss {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}