:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #000000;
  --text-color-dark: #ffffff;
}
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
